a.disabled {
  pointer-events: none;
}

.child-background{
    background: transparent;
    background-image: url('../images/child_background.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    flex: 1 1 auto
}

.nav-link{
    border: solid white;
    border-width: 0 7px;
}

input{
    width: 100px;
}

