.ok-status {
    color: green;
    font-weight: bold;
    font-size: 18px;
}

.error-status {
    color: red;
    font-weight: bold;
    font-size: 18px;
}

.nav-link{
    border: solid white;
    border-width: 0 7px;
}

.assignee-name{
    color: green;
    font-size: 9px;
}

.child-background{
    background: transparent;
    background-image: url('../images/child_background.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    flex: 1 1 auto
}

.due-date-info{
    color: green;
    font-size: 5px;
}
